

.caveat-<uniquifier> {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body {
    font: Caveat;
    background-color: grey;
    font-family: Caveeat;
}

#box {

    background-image: url("Img/notebook_flat_style.png");
    background-size: contain;
    width: 74.2vw;
    height: 98.2vw; 
    margin: 6vw;

    padding: 6vw;
    max-width: 90%;
    min-width: 30vw;
    box-shadow: 35px 35px 20px -15px #555555;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    
}

h1 {

    display: flex;
    justify-content: center;
    margin-top: 0.5vw;
    margin-bottom: -8vw;
    font-family: Caveat;
    font-size: 6vw;
    color: #444444;
}


#notes {
    margin: 2vw;
    margin-top: 7.7vw;
    padding-left: 20vw;
    
    font-family: Caveat;
    font-size: 60px;
    list-style: none;
}


li {
   margin-right: 4vw;
   
    margin-top: 1.6vw;
    margin-left: -14vw;

    max-width: 1700px;
    display: flex;  
    justify-content: space-between;
    border-style: none;
    background-color: transparent;
    font-family: Caveat;
    font-size: 4vw;
    color: #444444;
    position: relative;

}

li::after {
    content: "";
    position: absolute;
    top: 5.5vw;
    left: 5vw;
    right: 7vw;
    bottom: 0;
    border-bottom: 0.45vw solid rgba(1, 1, 1, .1);
    border-radius: 4px;
    max-width: 24;

}

#new-note {

    padding-left: 20vw;
    font-family: Caveat;
    font-size: 4vw;
    border-style: none;
    color: #444444;
    border-style: none;
    background-color: transparent;
    outline: none;



}

#add-button {
    font-family: Caveat;
    font-size: 3vw;
    color: #444444;
    border-style: none;
    background-color: transparent;

}

.delete-button {
  margin-top: 1rem;
  margin-left: 13vw;
  margin-right: -4vw;

    background-image: url(Icons/bin.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    
}

.edit-button {
    
    margin-top: 1rem;
    margin-right: -27vw;
    padding: 0.2vw;
    
      background-image: url(Icons/edit.png);
      background-size: cover;
      background-color: transparent;
      border: none;
      width: 5vw;
      height: 5vw;
      cursor: pointer;
  }

  editInput {
    padding-left: 20vw;
    font-family: Caveat;
    font-size: 4vw;
    border-style: none;
    color: #444444;
    border-style: none;
    background-color: transparent;
    outline: none;

  }

span {max-width: 1vw;
    min-width: 41vw;
        margin: 0.5vw;
}

         
          :root {
            --form-control-color:#444444;
            --form-control-disabled: #959495;
          }
          
          *,
          *:before,
          *:after {
            box-sizing: border-box;
          }
          
 
          form {
            display: grid;
            place-content: center;
            min-height: 100vh;
          }
          
          .form-control {
            font-family: system-ui, sans-serif;
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.1;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
          }
          
          .form-control + .form-control {
            margin-top: 1em;
          }
          
          .form-control--disabled {
            color: var(--form-control-disabled);
            cursor: not-allowed;
          }
          
          input[type="checkbox"] {
            
            -webkit-appearance: none;
            appearance: none;
            background-color: var(--form-background);
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 0.75em;
            height: 0.75em;
            border: 0.05em solid currentColor;
            border-radius: 0.1em;
            transform: translateY(0.45em);
          
            display: grid;
            place-content: center;
          }
          
          input[type="checkbox"]::before {
            content: "";
            width: 0.5em;
            height: 0.5em;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            transform: scale(0);
            transform-origin: bottom left;
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--form-control-color);
            

          }
          
          input[type="checkbox"]:checked::before {
            transform: scale(1);
          }
          

          input[type="checkbox"]:disabled {
            --form-control-color: var(--form-control-disabled);
          
            color: var(--form-control-disabled);
            cursor: not-allowed;
          }
